<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sarracenia Issue Tracker</title>
  <%= stylesheet_link_tag 'reset-fonts-grids' %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div id="header">
    <!--<img src="images/bug-flower.gif" alt="sarracenia flower, i.e. bug predator" />-->
    <%= image_tag 'bug-flower.gif', :alt => 'sarracenia flower, i.e. bug predator' %>
    <h1>Sarracenia Issue Tracker</h1>
    <div id="nav" class="yui-b">
      <ul>
        <li><%= link_to 'Issues', bugs_path %></li>
        <li>
          <%= link_to 'Projects', projects_path %>
          <!-- add the project names here -->
        </li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
      <ul id="new_links">
        <li><%= link_to 'New bug', new_bug_path %></li>
        <li><%= link_to 'New project', new_project_path %></li>
        <li><%= link_to 'New company', new_company_path %></li>
      </ul>
    </div>
  </div>
  <div id="doc3" class="yui-t4">
    <div id="yui-main">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield  %>
    </div>
  </div>
</body>
</html>