<tr class="<%= bug.severity.name %>">
    <td><%= bug.title %></td>
    <td><%= bug.severity.name %></td>
    <td><%= bug.user.name %></td>
    <td>
        <%-
            @user = User.find(bug.logged_by) if bug.logged_by != nil
            if @user
        %>
        <%= @user. name%>
        <%
            end
            @user = nil
        -%>
    </td>
    <td><%= bug.created_at.to_s(:short) %></td>
    <td><%= bug.updated_at.to_s(:short) %></td>
    <td><%= bug.fixed %></td>
    <td>
        <small> <%= link_to 'More details', bug %> |
                <%= link_to 'Edit', edit_bug_path(bug) %> |
                <%= link_to 'Delete', bug, :confirm => 'Are you sure?', :method => :delete %>
        </small>
    </td>
</tr>
