<div>
    <%= bug.title %> | <%= bug.description %> | <%= bug.severity_id %> | <%= bug.project_id %> | <%= bug.fixed %>
    <small> <%= link_to 'More details', bug %> |
            <%= link_to 'Edit', edit_bug_path(bug) %> |
            <%= link_to 'Delete', bug, :confirm => 'Are you sure?', :method => :delete %>
    </small>
</div>
<hr />