<div id="bug_display">
    <h1><%= @bug.title %></h1>
    <p><%= @bug.description %></p>
    <p>Currently assigned to: <strong><%= @bug.user.name %></strong> on the <strong><%= @bug.project.name %></strong></p>
    <p>This issue has <% if !@bug.fixed -%>not<% end %> been fixed</p>
    <% if @bug.fixed -%>
        <p><%= @bug.fixed_comment %></p>
    <% end %>
    <p>Last updated: <%= @bug.updated_at.to_s(:short) %></p>
</div>