<div class="yui-b">
    <h1>New bug</h1>
    <%= error_messages_for :bug %>
    <% form_for(@bug) do |f| %>
        <p><label for="title">Title:</label><br /><%= f.text_field :title %></p>
        <p><label for="description">Description:</label><br /><%= f.text_area :description %></p>
        <p><label for="severity_id">Severity:</label><br /><%= f.select 'severity_id', Severity.to_select %></p>
        <p><label for="project_id">Project:</label><br /><%= f.select 'project_id', Project.to_select %></p>
        <p><label for="person_assigned_to">Assigned To:</label><br /><%= options = [["Assign to..."]] + ["1", "2"]
                                                                select("bug", "person_assigned_to", options) %></p>
        <p><%= f.submit "Create" %></p>
    <% end %>
    
    <%= link_to 'Back', bugs_path %>
</div>