<div>
    ||<%= company.name %> |<%= company.address %> | 
    Created: <%= company.created_at.to_s(:long) %> |
    Last updated at: <%= company.updated_at.to_s(:long) %> ||
    <small> <%= link_to 'Show', company%> |
            <%= link_to 'Edit', edit_company_path(company) %> |
            <%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %>
    </small>
</div>
<hr />